body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.sliding_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  height: 150px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.child {
  width: 20%;
  margin-left: 10px;
  margin-right: 10px;
  /* border: 1px solid; */
  text-align: center;
  display: none;
}

.child img {
  width: 100px;
  height: 120px;
  padding: 6px;
  /* border: 1px solid yellow; */
}

#leftarrow {
  margin-left: 12px;
  /* border: 1px solid red; */
  width: 3%;
  display: inline-block;
}

#rightarrow {
  margin-left: 12px;
  /* border: 1px solid red; */
  width: 3%;
  display: inline-block;
}

#rightarrow button,
#leftarrow button {
  cursor: pointer;
  font-weight: 5px;
  color: gray;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

#catagory {
  width: 100vw;
  height: 50px;
  margin-top: 20px;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#catagory > div {
  margin-left: 150px;
  font-size: 20px;
}

#catagory > div:hover {
  color: blue;
  border-bottom: 2px solid blue;
}

.child1 {
  display: flex;
}

.child1 h6,
p {
  margin: 12px;
  font-size: 15px;
  padding: 0px;
}

.child1 h6:hover {
  color: gray;
  border-bottom: 1px solid gray;
}

#Second-div {
  width: 100%;
  background-color: #f5f7f8;
  /* display: flex; */
}

#leftData-scroll {
  /* flex: 7; */
  /* border: 1px solid red; */
  margin-top: 50px;
  /* height: 30px; */
}

#filtercontainer {
  width: 98%;

  margin: auto;
  margin-top: 40px;
  height: 150px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: whitesmoke;
}

#numbertally {
  text-align: center;
}

#Language,
#Level,
#Duration,
#Subject,
#Skills,
#Partner,
#Learning-Product {
  height: 40px;
  width: 13%;
  border-radius: 20px;
  border: none;
  border-bottom: 3px solid gray;
}

#filtertally {
  /* border: 1px solid red; */
  padding-left: 5%;
}

#filter-part {
  /* flex: 3; */
  border: 1px solid white;
}

#bigcontainer {
  display: flex;
  gap: 20px;
  width: 70%;
  margin: auto;
  background-color: white;
  margin-top: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* border: 1px solid red; */
  /* margin: 2%; */
  /* border-bottom: 2px solid #dddddd; */
}

#div1container {
  width: 70%;
  /* border: 1px solid black; */
  background-color: aquamarine;
}

#imagebloc {
  width: 100%;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#div2container {
  width: 15%;
  /* margin: 4px; */
  /* background-color: red; */
  /* text-align: center; */
}

#certificates {
  background-color: lavender;
  color: rgb(31, 31, 31);

  letter-spacing: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
}

#main-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 90px;
  margin-left: 50px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  /* font-size: 0.9em; */
  min-width: 400px;
  font-size: 17px;
  /* font-family: Source Sans Pro, Open Sans, sans-serif; */

  font-family: "Source Sans Pro", Arial, sans-serif;
}

#Tabale_Div {
  margin-left: 30px;
  /* border: 1px solid brown; */
}

#Tabale_Div th {
  font-size: 13px;
  color: rgb(41, 34, 34);
  margin-left: 30px;
}

.content-table thead tr {
  text-align: left;
  font-weight: bold;
  color: indianred;
}

.content-table th,
.content-table td {
  padding: 35px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.heading p {
  text-align: center;
  /* border: 1px solid black; */
  background-color: lavender;
  /* margin-left: 50px; */
}

td {
  line-height: 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

/* footer css */
#Bafooter {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

#jfooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 10%;
}

#jfooter .footer_list {
  margin: 50px 0;
}

#jfooter .last_footer_list {
  margin: 30px 0;
  display: flex;
  width: 150px;
  flex-direction: column;
}

#jfooter .last_footer_list img {
  margin: 10px 0;
}

#certified {
  width: 100px;
}

#jfooter .footer_list p a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-size: 14px;
}

#jfooter .footer_list p a:hover {
  text-decoration: underline;
}

#jfooter .footer_list h2 {
  margin: 0 0 20px 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

#last_part_of_footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
  border-top: 1px solid rgb(80, 80, 80);
}

#last_part_of_footer p {
  font-size: smaller;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

#last_part_of_footer div img {
  margin: 7px;
}

/* navbar css */

#Banavbar {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#jnavbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgb(193, 189, 189);
}

#jnavbar a {
  width: 125px;
  margin: auto 20px;
}

#jnavbar button {
  height: 36px;
  color: white;
  background-color: rgb(0, 86, 210);
}

#jnavbar input {
  padding: 1px 5px;
  margin: auto 0px;
  height: 30px;
  width: 350px;
}

#jnavbar p a {
  margin: 6px;
  font-weight: lighter;
  font-size: 13px;
  color: rgb(39, 38, 38);
  text-decoration: none;
}

#jnavbar p a:hover {
  color: rgb(107, 107, 236);
  text-decoration: underline;
}

#log_in_text {
  color: rgb(107, 107, 236);
}

#explore_button {
  border-color: rgb(0, 86, 210);
  margin: auto 7px;
  padding: 0 13px;
  font-weight: bold;
}

#explore_button:hover {
  background-color: white;
  color: rgb(0, 86, 210);
}

#search {
  border: 0;
  border-radius: 0;
  width: 40px;
  margin-right: 7%;
}

#join_for_free {
  border: 0;
  margin: auto;
  padding: 0 20px;
}

#explore_option {
  display: none;
}

#explore_option .left_explore_option {
  position: absolute;
  top: 61px;
  left: 50px;
  z-index: 5;
  background-color: rgb(242, 242, 246);
  width: 24.5%;
  height: 585px;
  overflow-y: scroll;
  padding: 16px 0px;
}

.faltu_div_on_navbar {
  width: 24.5%;
  height: 14px;
  position: absolute;
  top: 48px;
  left: 50px;
  z-index: 5;
}

#explore:hover #explore_option {
  display: block;
}

/* #explore:hover body {
background: linear-gradient(grey,black);
} */
#explore_option .left_explore_option ul {
  width: 90%;
  padding: 0;
}

#explore_option .left_explore_option ul li {
  width: 97%;
  padding: 0 20px;
  list-style: none;
  line-height: 30px;
}

#explore_option .left_explore_option ul li:hover {
  background-color: white;
  color: rgb(129, 129, 231);
  cursor: context-menu;
  line-height: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#explore_option .left_explore_option ul li:first-child {
  color: rgb(39, 38, 38);
  font-size: large;
  font-weight: bolder;
  margin: 20px 0;
}

#explore_option .left_explore_option ul li:first-child:hover {
  background-color: rgb(242, 242, 246);
  cursor: auto;
  line-height: 30px;
  box-shadow: none;
}

#explore_option .left_explore_option ul li p {
  margin: 0;
}

#explore_option .left_explore_option button {
  border-color: rgb(0, 86, 210);
  margin: 30px 20px 100px;
  padding: 0 12px;
  font-weight: bold;
  height: 36px;
  background-color: white;
  color: rgb(0, 86, 210);
  font-size: 16px;
}

#explore_option .left_explore_option button:hover {
  background-color: rgb(0, 86, 210);
  color: white;
}

.right_explore_option {
  width: 600px;
  height: 585px;
  border: 1px solid red;
  position: absolute;
  /* left: 100%; */
  top: 0;
  z-index: 5;
  /* opacity: 0; */
  transition: opacity 0.1s ease-in-out;
  overflow-y: scroll;
  padding: 16px 0px;
}

li .iconify {
  float: right;
  margin-top: -25px;
}
